*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  padding: 129px 30px;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.content__list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  white-space: nowrap;
  height: 298px;
  position: relative;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 30px;
  min-height: 100%;
  min-width: 100%;
}

.result {
  padding-top: 69px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.result__video-container {
  min-width: 711px;
  min-height: 386px;
  margin-bottom: 11px;
  position: relative;
  
}

.result__video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.content__video-card {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
 
}

.title {
  color: #fff;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  padding-top: 7px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
  margin: 2px;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.button {
  background-color: transparent;
  color: #fff;
  width: 194px;
  height: 34px;
  color: #fff;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid #fff;
  cursor: pointer;
}

.button.search-form__submit-button {
  min-width: 194px;
}

.button.more-button {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  appearance: none;
  background-color: transparent;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 225px;
  height: 27px;
  border-right: transparent;
  border-left: transparent;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__fieldset {
  border: none;
  align-self: flex-start;
}

.search-form__label {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 5px; 
}

.search-form__pseudo-checkbox {
  display: inline-block;
  vertical-align: middle;
  height: 19px;
  width: 19px;
  background-color: transparent;
  border: 1px solid #fff;
  
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  outline: 7px solid #fff;
  outline-offset: -11px;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  margin-top: 5px;
}


